<h1>Update Skill</h1>
<div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label class="col-md-4">Skill Id</label>
          <input [(ngModel)]="skill.id" name="id" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label class="col-md-4">New Skill Name</label>
          <input [(ngModel)]="skill.SkillName" name="SkillName" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <div [hidden]="!submitted">
          <span class="badge badge-success">Skill updated successfully!</span>
          <br />
          <br />
        </div>
        <div [hidden]="!submitError">
          <span class="badge badge-danger">You must enter a skill name!</span>
          <br />
          <br />
        </div>
          <button (click)="updateSkill()" type="submit" class="btn btn-primary">Update Skill</button>
        </div>      
      </form>
    </div>
  </div>
