<h1>Skill List</h1>
<form>
  <div class="form-group form-inline">
      Search Skills: <input class="form-control ml-2" type="text" [(ngModel)]="search" name="search" /><br />
      &nbsp;&nbsp;<button routerLink="/skills" [queryParams]="{ page: page, q: search}" type="button" class="btn btn-primary">Search</button>
  </div>
</form>

<div class="card text-center m-3">
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Skill Id</th>
        <th scope="col">Skill Name</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of skills.items">
        <td>
          {{item.id}}
        </td>
        <td>
         {{item.skillName}}
        </td>
        <td>
          <button (click)="deleteSkill(item.id)"type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </td>
      </tr>
      </tbody>
    
    </table>
  </div>
  <div class="card-footer pb-0 pt-3">
      <ul *ngIf="skills.pages" class="pagination">
          <li [ngClass]="{disabled:skills.page === 0}" class="page-item first-item">
              <a routerLink="/skills" [queryParams]="{ page: 1, q: search }" class="page-link">First</a>
          </li>
          <li [ngClass]="{disabled:skills.page === 0}" class="page-item previous-item">
              <a routerLink="/skills" [queryParams]="{ page: skills.page, q: search }" class="page-link">Previous</a>
          </li>
          <li *ngFor="let page of pages" [ngClass]="{active:skills.page === (page-1)}" class="page-item number-item">
              <a routerLink="/skills" [queryParams]="{ page: page, q: search }" class="page-link">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:skills.page === (skills.pages-1)}" class="page-item next-item">
              <a routerLink="/skills" [queryParams]="{ page: skills.page + 2, q: search }" class="page-link">Next</a>
          </li>
          <li [ngClass]="{disabled:skills.page === (skills.pages-1)}" class="page-item last-item">
              <a routerLink="/skills" [queryParams]="{ page: skills.pages, q: search }" class="page-link">Last</a>
          </li>
      </ul>
  </div>
</div>

<div [hidden]="!submitted">
  <br />
  <h4>Skill created succesfully!</h4>
</div>
