<h1>Add Resource</h1>
<div class="card">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label class="col-md-4">Resource Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="resource.name" name="name" />
      </div>
      <div class="form-group">
        <div [hidden]="!submitted">
          <span class="badge badge-success">Resource updated successfully!</span>
          <br />
          <br />
        </div>
        <div [hidden]="!submitError">
          <span class="badge badge-danger">You must enter a resource name!</span>
          <br />
          <br />
        </div>
        <ng-multiselect-dropdown [placeholder]="'Select Skills'" [data]="skills.items" [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event.skillName)" (onSelectAll)="onSelectAll($event)" name="skillList">
        </ng-multiselect-dropdown><br />
        <button (click)="createResource()" type="submit" class="btn btn-primary">Create Resource</button>
      </div>
    </form>
  </div>
</div>